<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/svg+xml" href="/static/{{.StaticFiles.Favicon}}">
    <link rel="stylesheet" type="text/css" href="/static/{{.StaticFiles.MainCSS}}">
</head>
<body>
<main>
    {{if .Breadcrumbs}}
        <nav aria-label="breadcrumbs">
            <ol>
                {{range $index, $crumb := .Breadcrumbs}}
                    <li>
                        {{if $crumb.IsCurrent}}
                            <span aria-current="location">{{$crumb.Label}}</span>
                        {{else}}
                            <a href="{{$crumb.Path}}">{{$crumb.Label}}</a>
                        {{end}}
                    </li>
                {{end}}
            </ol>
        </nav>
    {{end}}
    {{block "content" .}}
    {{end}}
</main>
{{if .DevMode}}
<script>
  let eventSource = null
  window.addEventListener("DOMContentLoaded", (_) => {
    eventSource = new EventSource('/dev/reload');
    eventSource.onmessage = (event) => {
      if (event.data === 'reload') {
        location.reload();
      }
    }
    eventSource.onerror = () => {
      eventSource.close()
      setTimeout(() => location.reload(), 1000)
    }
  })
  window.addEventListener("beforeunload", (_) => {
    if (eventSource !== null) {
      eventSource.close()
    }
  })
</script>
{{end}}
</body>
</html>
