<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} - {% endif %}Greg Holmes</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | rev }}" />
  {% block additionalhead %}{% endblock %}
</head>
<body>
<nav>
  <span></span>
  {% block titlehead %}{% endblock %}
  <ul>
    {%- for section in site.mainSections %}
    <li><a href="{{ section.link }}">{{ section.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
{%- block content -%}{%- endblock -%}
</body>
</html>
