{%  extends 'baselayout.njk' %}
{%- block additionalhead -%}
  <link rel="alternate" type="application/rss+xml" href="https://greboid.com/blog/index.xml" title="{{ site.title }}" />
{%- endblock -%}
{% block titlehead %}{% endblock %}
{%- block content -%}
  <div id="wrapper">
    <main>
      <div id="content">
        <h1>{{ title }}</h1>
        <article>
          {{ content | safe }}
        </article>
      </div>
    </main>
  </div>
{%-  endblock -%}
