---
title: Blog
permalink: /blog/
eleventyExcludeFromCollections: true
pagination:
  data: collections.posts
  size: 5
  alias: posts
  reverse: true
---
  {%- for page in posts %}
    <article>
      <h2><a href="{{ page.url }}">{{ page.data.title }}</a></h2>
      <p>{{ page.data.date | niceDate }}</p>
      {{ page.data.page.excerpt | markdown | safe }}
      <p>
        <a href="{{ page.url }}">Continue reading…</a>
      </p>
      {%  if not loop.last %}
        <hr>
      {% endif %}
    </article>
  {% else %}
    <p>No posts available</p>
  {%- endfor %}
