@import "reset.scss";

$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);
$color-white-trans: rgba($color-white, .75);
$color-black-trans: rgba($color-black, .75);

$background-light: "{{- (resources.Get "images/bacon-bg.jpg" | fingerprint ).Permalink }}";
$background-dark: "{{- (resources.Get "images/black-bacon.jpg" | fingerprint ).Permalink }}";

:root {
  --background-colour: #{$color-white};
  --foreground-colour: #{$color-black};
  --background-colour-trans: #{$color-white-trans};
  --background: #{$color-white} url(#{$background-light}) no-repeat fixed center center;
  --overlay: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.5), transparent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #{$color-black};
    --foreground-colour: #{$color-white};
    --background-colour-trans: #{$color-black-trans};
    --background: #{$color-black} url(#{$background-dark}) no-repeat fixed center center;
    --overlay: linear-gradient(45deg, transparent, rgba(0, 0, 0, 0.5), transparent);
  }
}
@keyframes wrapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  color: var(--foreground-colour);
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--background);
  background-size: cover;
  font-family: sans-serif;
}

#overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--overlay);
  z-index: -1;
}

#wrapper {
  padding: 0 2.5vw 2.5vw 2.5vw;
  animation: wrapper 0.5s forwards;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header.tall {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header.tall h1 {
  font-size: 5em;
  font-weight: 900;
  padding: 0 0 0.3em 0;
  margin: 0;
}

header > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header > ul li {
  padding: 0;
  margin: 0;
  display: inline;
  font-size: 1em;
}

a {
  color: var(--foreground-colour);
}

body > nav {
  display: flex;
  justify-content: flex-end;
  background: var(--background-colour-trans);
  padding: 0.5em;
}

body > nav ul {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

body > nav ul li {
  display: inline;
  padding: 0.5em;
}

body > nav ul li a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

header.tall {
  height: 100%;
}

main {
  background: var(--background-colour-trans);
  border-radius: 0.5em;
  padding: 2em;
  min-height: 90%;
}