<!DOCTYPE html>
<html lang="en">
<title>{{ block "title" . }}{{ if not (eq .Title "") }}{{.Title }} &ndash; {{ end }}{{ .Site.Title }}{{ end }}</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link rel="preload" href="{{- (resources.Get "images/bacon-bg.jpg" | fingerprint ).Permalink }}" as="image" media="(max-width: 600px)">
<link rel="preload" href="{{- (resources.Get "images/black-bacon.jpg" | fingerprint ).Permalink }}" as="image" media="(prefers-color-scheme: dark)">
{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "css/main.css" . | toCSS | minify |
fingerprint -}}
<link href="{{ $style.Permalink }}" rel="stylesheet" type="text/css">
<body>
<div id="overlay"></div>
{{- if or (.Site.Params.BlogEnabled) (eq (index (split .RelPermalink "/") 1) "blog") -}}
<nav>
    <span></span>
    {{- block "titlehead" . -}}<h1>{{ .Title }}</h1>{{- end -}}
    <ul>
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{- end -}}
    </ul>
</nav>
{{- end -}}
{{- block "main" . -}}{{- end -}}
</body>
</html>