<!DOCTYPE html>
<html lang="en">
<title>{{ block "title" . }}{{ if not (eq .Title "") }}{{.Title }} &ndash; {{ end }}{{ .Site.Title }}{{ end }}</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
{{- $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "css/main.css" . | toCSS | minify |
fingerprint -}}
<link href="{{ $style.Permalink }}" rel="stylesheet" type="text/css">
<body>
<div id="overlay"></div>
{{- if .Site.Params.BlogEnabled | eq (index (split .RelPermalink "/") 1) "blog" -}}
<nav>
    <ul>
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}
        <li><a href="{{ .URL }}"><span>{{ .Name }}</span></a></li>
        {{- end -}}
    </ul>
</nav>
{{- end -}}
{{- block "main" . -}}{{- end -}}
</body>
</html>