{{- define "main" -}}
<div id="wrapper">
    <main>
        <div id="content">
            {{- $articles := where (where .Site.Pages "Section" .Section) "IsNode" false }}
            {{- range $index, $article := $articles -}}
            <article>
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                <p>{{ .Date | dateFormat "Jan 2 2006" }}</p>
                {{.Summary }}
                {{ if .Truncated }}
                <p>
                    <a href="{{ .RelPermalink }}">Continue reading…</a>
                </p>
                {{ if ne (add $index 1) (len $articles) }}
                <hr>
                {{end}}
            </article>
            {{ end }}
            {{- else -}}
            <p>No posts available</p>
            {{- end -}}
        </div>
    </main>
</div>
{{- end -}}