{{- define "main" -}}
<div id="wrapper">
    <main>
        <article>
            {{- .Content }}
            {{- range where (where .Site.Pages "Section" "blog") "IsNode" false -}}
           <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p>{{ .Date | dateFormat "Jan 2 2006" }}</p>
            <p>{{.Summary }}</p>
            {{ if .Truncated }}
            <p>
            <a href="{{ .RelPermalink }}">Continue reading…</a>
            </p>
            <hr>
            {{ end }}
            {{- else -}}
            <p>No posts available</p>
            {{- end -}}
        </article>
    </main>
</div>
{{- end -}}