name: build
on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - v*
jobs:
  greboid:
    uses: greboid/.github/.github/workflows/docker.yml@master
    with:
      image: 'greboid.com'
      registry: 'reg.g5d.dev'
      preloginghcr: true
      preloginreg: true
    secrets: inherit
